<div class="container my-3">
  <h2>Panaderia Don Pepe</h2>
  <hr>
  <div class="row gy-2 gx-3">
    <div class="col-3">
      <p>Seleccione su Producto:</p>
    </div>
    <div class="col-3">
      <p>Precio:</p>
    </div>
    <div class="col-3">
      <p>Seleccione la cantidad:</p>
    </div>
    <div class="col-3">
    </div>
    <div class="col-3">
      <div class="input-group mb-3">
        <select class="form-select" id="inpPan" [(ngModel)]="selectedProduct" (ngModelChange)="setPrice()">
          <option *ngFor="let product of products" value="{{product.name}}">{{product.name}}</option>
        </select>
        <label class="input-group-text">Panes</label>
      </div>
      <div class="alert alert-danger d-none align-items-center mb-3" id="errorSelect" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        <div>
          Debe elegir una opcion
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="input-group mb-3">
        <input type="text" class="form-control disabled" [disabled]="true"  placeholder="Precio Unitario" id="inpPrecio" [(ngModel)]="priceProduct">
      </div>
    </div>
    <div class="col-3">
      <div class="input-group mb-3">
        <input type="text" class="form-control" [disabled]="selectedProduct== ''" placeholder="Cantidad" id="inpCant" [(ngModel)]="quantityOfProduct">
      </div>
      <div class="alert alert-danger d-none align-items-center mb-3" id="errorCant" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        <div>
          Elija una cantidad mayor a 0
        </div>
      </div>
    </div>
    <div class="col-3">
      <button type="button" class="btn btn-warning" id="btnAdd" (click)="addOrder()">Añadir Producto</button>
    </div>
  </div>
  <app-table [order]="orderToSend"></app-table>
</div>

